body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-image: url("main.jpg");
    background-size: cover;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trainer_info{
    text-align: justify;
}
.container {
    display: flex;
}

/* Add this CSS code to your existing styles */
.K,
.Y {
    position: relative;
    flex: 0.8;
    text-align: center;
    width: 50%; /* Set the width to 50% */
    padding: 2%; /* Adjust padding as needed */
    transition: transform 0.5s;
}

.trainer_info {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.7);
display: flex;
align-items: center;
justify-content: center;
vertical-align: middle;
transform: rotateY(180deg);
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.5s;
}

/* Rotate on hover and show modal content */
.K:hover,
.Y:hover {
transform: rotateY(180deg);
}

.K:hover .trainer_info,
.Y:hover .trainer_info {
visibility: visible;
opacity: 1;
}
nav#navTop2 {
    width: 800px;
    position: fixed;
    margin-top: -800px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
ul#topmenu {
    display: table;
    width: 90%;
    margin: 20px auto;
    border: 2px solid #fff;
}


nav#navTop2 li {
    display: table-cell;

    /*background-color: #77b193;*/
}

nav#navTop2 li:first-child {
    border-left: none;
}
nav#navTop2 li:hover a {
    background-color: #fff;
    color: #000;
}
nav#navTop2 li.active a {
    background-color: #fff;
    color: #000;
}
nav#navTop2 li a {
    display: block;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
}
